body {
    text-align: center;
    justify-content: center;
}

table {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
}

tr {
    text-align: center;
}